@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFPro';
  src: url('fonts/SFPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('fonts/SFPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('fonts/SFPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('fonts/SFPro-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('fonts/SFPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SFPro';
  src: url('fonts/SFPro-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
 
@layer base {
  :root {
    --accentColor: var(--color-white);
    
    --backgroundColor--primary: var(--color-neutral-900);
    --backgroundColor--surface: var(--color-neutral-800);

    --foregroundColor-label: var(--color-white);
  }

  html, body, #__plasmo {
    @apply bg-primary;
    @apply text-label;
    @apply min-h-screen;
    font-family: 'SFPro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-size: 16px;
  }

  .bg-accent {
    --foregroundColor-label: var(--color-black);
  }
}